<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">{{title}}</h1>

            <!-- Author -->
            <p class="lead">by {{author}}</p>

            <hr>

            <!-- Date/Time -->
            {{!--
            <p>Posted on January 1, 2017 at 12:00 PM</p>

            <hr> --}}

            <!-- Preview Image and Book Info -->
            <div class="row">
                <div class="col-md-4 col-centered">
                    <img class="img-fluid rounded" src="{{imageURL}}" alt="">
                </div>

                <div class="col-md-8">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <small>Publisher:</small> {{publisher}}</li>
                        <li class="list-group-item">
                            <small>Published Date:</small> {{publishedDate}}</li>
                        <li class="list-group-item">
                            <small>Page Count:</small> {{pageCount}}</li>
                        <li class="list-group-item">
                            <small>Price:</small> ${{price}}</li>
                    </ul>
                </div>
            </div>

            <div style="padding-top: 20px">
                <form method="post" action="/addToCart/{{isbn}}">
                    <button type="submit" name="addToCart" class="btn btn-primary" value="{{isbn}}">Add to Cart</button>
                </form>
            </div>

            <hr>

            <!-- Post Content -->
            <h3>Description:</h3>
            <p class="lead">{{description}}</p>
            <hr>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Search</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Related Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled mb-0">
                                {{#each categories}}
                                <li>
                                    <a href="#">{{this}}</a>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Rating</h5>
                <div class="card-body">
                    <p>
                        <small>Average Rating: </small> {{averageRating}} out of 5
                    </p>

                    <p>
                        <small>Number of Ratings: </small> {{ratingsCount}}
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->