<div class="container" style="margin-top: 20px">
    <h3>
        Shopping Cart</h3>
    <hr />
</div>
<div class="row">
    <div class="col-md-7">
        {{#each cart}}
        <div class="card" style="margin-bottom: 20px">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{this.imageURL}}" class="w-100">
                </div>

                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title">{{this.title}}</h4>
                        <p class="card-text">
                            <small>{{this.description}}</small>
                        </p>
                        <form action="shoppingCart/update/{{this.isbn}}" method="post">
                            <p class="lead">Quantity:
                                <input type="text" name="quantity" id="quantity" value="{{this.quantity}}">
                                <br>
                                <div class="btn-group btn-group-sm" role="group">
                                    <button type="submit" class="btn btn-outline-success" name="update" value="update">Update</button>
                                    <button type="submit" class="btn btn-outline-danger" name="remove" value="remove">Remove</button>
                                </div>
                            </p>
                        </form>
                        <p class="lead">Price: ${{this.price}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="col-md-5">

        <!-- Search Widget -->
        <div class="card my-4">
            <h5 class="card-header">Cart Details</h5>
            <div class="card-body">
                <h3>Number of Items: {{numOfItems}}</h3>
                <h3>Total: ${{totalAmount}}</h3>

                <button type="button" class="btn btn-primary btn-lg btn-block">Proceed to Checkout</button>
            </div>
        </div>
    </div>

</div>